nav {
  cursor: pointer;
  padding: 8px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

.container--deeper {
  padding-left: 32px;
  padding-right: 32px;
}

/* header */
header {
  background-color: var(--primary-color);
}

header a {
  text-decoration: none;
}

.container--header {
  display: flex;
  justify-content: space-between;
}

header .brand {
  display: flex;
  align-items: center;
  min-width: 110px;
  padding: 8px;
}
header .brand a {
  color: white;
  text-decoration: none;
}

header .navbar {
  display: flex;
  padding: 8px;
}

header .btn-sub {
  background-color: var(--primary-light-color);
  color: white;
  height: 36px;
}

header .btn-sub:hover {
  background-color: #00b89c;
  color: white;
}

/* body */
.layout-body {
  height: calc(100% - 55px);
}

.layout-body section {
  margin-bottom: 32px;
}

/* footer */
footer {
  background-color: black;
  color: white;
  padding-top: 16px;
  padding-bottom: 16px;
}
