header {
  border-bottom: 2px solid black;
}

header a {
  text-decoration: none;
  color: black;
}

nav {
  cursor: pointer;
  padding: 8px;
}

header .container {
  margin-left: auto;
  margin-right: auto;
  padding: "0px 15px";
  display: flex;
  justify-content: space-between;
}

header .brand {
  min-width: 110px;
  padding: 8px;
}

header .navbar {
  display: flex;
  padding: 8px;
}
