html,
body,
#root {
  height: 100%;
}

body {
  font-size: 18px;
  margin: 0px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.txt-center {
  text-align: center;
}

button {
  border: none;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  margin: 8px;
}

.btn-default {
  background-color: #dddddd;
}

.btn-default:hover {
  background-color: #9c9c9c;
  color: #dedede;
}

.btn-disabled {
  pointer-events: none;
}
