html,
body,
#root {
  height: 100%;
}

body {
  font-size: 18px;
  margin: 0px;
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica,
    Arial, sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.txt-center {
  text-align: center;
}

button {
  border: none;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  margin: 8px;
}

button a {
  text-decoration: none;
}

.btn-default {
  background-color: #dddddd;
}

.btn-default:hover {
  background-color: #9c9c9c;
  color: #dedede;
}

.btn-disabled {
  pointer-events: none;
}

.btn-outlined--primary {
  color: white;
  background-color: transparent;
  border: 2px solid var(--primary-light-color);
}

.btn-outlined--primary:hover {
  color: var(--primary-light-color);
  background-color: transparent;
  border: 2px solid white;
}

:root {
  --primary-color: #00a996;
  --primary-light-color: #00d1b2;
}
